Accept: */*; q=0.0 ... MUST NOT return any other content

According to [RFC 7231, Section 5.3.1](http://tools.ietf.org/html/rfc7231#section-5.3.1):

_The weight is normalized to a real number in the range 0 through 1, where 0.001 is the least
preferred    and 1 is the most preferred; a  value of 0 means "not acceptable".  If no "q"
parameter is present, the default weight is 1._

It looks like it will pick the first from the `\@provided`

I have not checked for all four from Content Negotiation, but I assume if this goes wrong with Accept, it will for the other three as well.
